<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myUser@email.com"; // OPTIONAL: include your user's email address or order ID
    // _pa.revenue = "19.99"; // OPTIONAL: include dynamic purchase value for the conversion
    {% if template contains 'product' %}
      _pa.onLoadEvent = "{{ product.vendor | downcase | replace: ' ', '-' }},{{ product.handle }}"; // OPTIONAL: name of segment/conversion to be fired on script load
    {% endif %}
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/50ac2a995fb9c10002000026.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
<script type="text/javascript">
    (function() {
      var upfront = document.createElement('SCRIPT'); upfront.type = "text/javascript"; upfront.async = true;
      upfront.src = document.location.protocol + "//upfront.thefind.com/scripts/main/utils-init-ajaxlib/upfront-badgeinit.js";
      upfront.text = "thefind.upfront.init('tf_upfront_badge', 'd42afd6a1b99497e675a1ed13bd36ee5')";
      document.getElementsByTagName('HEAD')[0].appendChild(upfront);
    })();
</script>

<!-- Google Code for Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1004152104;
var google_conversion_label = "RYMvCMjG6wMQqMro3gM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1004152104/?value=0&amp;label=RYMvCMjG6wMQqMro3gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
