<!-- Begin MailChimp Signup Form -->
<div id="footer-mailchimp">
  <h2>Newsletter</h2>
  <form action="http://eleanorsnyc.us5.list-manage1.com/subscribe/post?u=2db0785c770eeb664f90abbdc&amp;id=48bbeca185" method="post" id="footer-mailchimp-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  	<input type="email" value="" name="EMAIL" class="email" id="footer-mailchimp-EMAIL" placeholder="email address" required>
  	<div class="clear"><input type="submit" onclick="pageTracker._trackEvent('Newsletter', 'Signup', 'Onsite'); _pa.track('newsletter');" value="Subscribe" name="subscribe" id="footer-mailchimp-subscribe" class="button"></div>
  </form>
</div>
<!--End mc_embed_signup-->