<div id='pinterest-follow'>
  <a href="http://bit.ly/TX2eM5">
    <img src="http://passets-lt.pinterest.com/images/about/buttons/small-p-button.png" width="16" height="16" alt="Follow Me on Pinterest" />
  </a>
</div>