{% assign number_of_related_products_to_show = 3 %}
{% assign thisproduct = product %}
{% assign thiscollection = collection %}

{% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

{% if collection != null and collection.handle != 'frontpage' and collection.handle != 'all-product' %}
<section class="diagonal-divider clearfix">
  <header class="section-details clearfix">
      <h1 class="section-title">{{ 'Other items we can&apos;t resist' | link_to: collection.url }}</h1>
  </header>
  <ul class="product-grid" id="secondary-grid">
    {% assign current_product_found = false %}
    {% for product in collection.products limit: number_of_related_products_to_fetch %}
      {% if product.title == thisproduct %}
         {% assign current_product_found = true %}
      {% else %}
         {% unless current_product_found == false and forloop.last %}
           <li class="{% cycle '', '', '', 'last-in-row' %}">
               {% include 'product-grid-item' %}
           </li>
         {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
</section>    
{% endif %}

{% assign current_product_found = false %}
{% assign found_a_collection = false %}

{% capture cIndex %}{{ 'now' | date: '%S' | times: product.collections.size | divided_by: 60 }}{% endcapture %}

{% for c in thisproduct.collections offset: cIndex %}
  {% if found_a_collection == false and c.handle != thiscollection.handle and c.handle contains 'related' and c.handle != 'frontpage' and c.handle != 'all-product' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
 
{% if found_a_collection and collection.products_count > 1 %}
<section class="diagonal-divider clearfix">
  <header class="section-details clearfix">
      <h1 class="section-title">{{ 'Customers who bought this also bought' | link_to: collection.url }}</h1>
  </header>
  <ul class="product-grid" id="secondary-grid">
{% assign current_product_found = false %}

{% for product in collection.products limit: number_of_related_products_to_fetch %}
  {% if product.title == thisproduct.title %}
     {% assign current_product_found = true %}
  {% else %}
     {% unless current_product_found == false and forloop.last %}
       <li class="{% cycle '', '', '', 'last-in-row' %}">
           {% include 'product-grid-item' %}
       </li>
     {% endunless %}
  {% endif %}
{% endfor %}
  </ul>
</section>
{% endif %}