<div id="click-to-call">
  <a href="/pages/contact-us">
    <img src="{{ 'click-to-call.png' | asset_url }}" width="140" height="20" alt="Contact us! We're here to help answer any questions"/>
  </a>
</div>