<div id="free-shipping">
  <a href="/pages/frequently-asked-questions">
    <img src="{{ 'free-shipping.png' | asset_url }}" width="156" height="40" alt="Free Shipping on all orders over $89"/>
  </a>
</div>