<div id='le_div_top'></div>
<div id="col-main" class="content">
  <h1 class="heading">Page not found <span class="not_found">404</span></h1>
  <p>Oops.  We're sorry, but you can't get there from here.
  <p>Perhaps you want to return to the <a href="/">home page</a> or <a href="/search">try a search</a>.</p>

 <!-- First Bottom Widget Starts --> <div id='le_div_bottom1'></div> <!-- First Bottom Widget Ends -->
 <!-- Second Botton Widget Starts --> <div id='le_div_bottom2'></div> <!-- Second Bottom Widget Ends -->
     
</div>
